<?xml version="1.0"?>
<launch>
  <!-- Arguments -->
  <arg name="model" default="burger"/>
  <arg name="map_file" default="$(find turtlebot3_navigation)/maps/house.yaml"/>
  <arg name="open_rviz" default="false"/>
  <arg name="move_forward_only" default="false"/>
  <arg name="scan_topic"     default="scan"/>
  <arg name="first_tb3"       default="tb3_0"/>
  <arg name="first_tb3_x_pos" default="-7.0"/>
  <arg name="first_tb3_y_pos" default="-1.0"/>
  <arg name="first_tb3_z_pos" default=" 0.0"/>
  <arg name="first_tb3_yaw"   default=" 0"/>

  
  <group ns = "$(arg first_tb3)">
  <!-- Map server -->
  <!-- <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)"/> -->


    <node pkg="fake_localization" type="fake_localization" name="fake_localization" respawn="false" output="screen">
      <!-- <remap from="$(arg first_tb3)/odom" to ="$(arg first_tb3)/base_pose_ground_truth"/> -->
      <param name="tf_prefix" value="tb3_0" />
      <param name="odom_frame_id"             value="$(arg first_tb3)/odom"/>
      <param name="base_frame_id"             value="$(arg first_tb3)/base_footprint"/>
      <param name="global_frame_id" value="map" />
    </node>




  <!-- move_base -->
  <!-- Arguments -->
  <arg name="cmd_vel_topic" default="cmd_vel" />
  <arg name="odom_topic" default="odom" />

  <!-- move_base -->
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS" />
    <rosparam file="$(find turtlebot3_navigation)/multi_param/multi_param0/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find turtlebot3_navigation)/multi_param/multi_param0/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find turtlebot3_navigation)/multi_param/multi_param0/move_base_params.yaml" command="load" />
    <rosparam file="$(find turtlebot3_navigation)/multi_param/multi_param0/dwa_local_planner_params_$(arg model).yaml" command="load" />
    <remap from="cmd_vel" to="$(arg cmd_vel_topic)"/>
    <remap from="odom" to="$(arg odom_topic)"/>
    <param name="DWAPlannerROS/min_vel_x" value="0.0" if="$(arg move_forward_only)" />
  </node>
  </group>


  <!-- rviz -->
  <group if="$(arg open_rviz)"> 
    <node pkg="rviz" type="rviz" name="rviz" required="true"
          args="-d $(find turtlebot3_navigation)/rviz/turtlebot3_navigation.rviz"/>
  </group>
</launch>
